<ion-header>
	<ion-navbar>
		<ion-title>Reset password</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>

	<form (ngSubmit)="resetPassword()" [formGroup]="form">
		<ion-list inset>

			<ion-item [ngClass]="{ invalid: emailErrors.hasError('*', ['touched']) }">
				<ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
			</ion-item>

			<div ngxErrors="email" #emailErrors="ngxErrors">
				<div [ngxError]="['email', 'required']" [when]="['touched']">It should be a valid email</div>
			</div>
		</ion-list>

		<div padding-horizontal>
			<div class="form-error">{{signupError}}</div>

			<button ion-button full [disabled]="!form.valid">Reset password</button>
		</div>
	</form>
</ion-content>
